apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://github.com/cert-manager/cert-manager/releases/download/v1.9.1/cert-manager.yaml
- https://github.com/open-telemetry/opentelemetry-operator/releases/latest/download/opentelemetry-operator.yaml

- collector.sidecar.yaml
- colletor.daemonset.yaml
- instrumentation.python.yaml
- rolldice.pyhton.yaml

- jaeger.yaml
- influxdb.yaml
- telegraf.yaml


configMapGenerator:
  - name: telegraf-conf
    files:
      - telegraf.conf
  - name: telegraf-envs
    envs:
      - influxdb.env
  - name: influxdb-envs
    envs:
      - influxdb.env      